<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header-menubar.css">
  <title>Header Menu</title>
</head>

<body>

  <div class="wrapper">
    <div class="header">
      <div class="notification">
        <div class="notification-contents">
          코로나19에 대한 FINN 대책 및 환불 정책에 대한 최신 정보를 확인하세요. 자세히 알아보기
        </div>
      </div>
      <div class="header-navbar">
        <div class="header-menu-area">
          <div class="logo"></div>
          <ul class="left-button-list">
            <li class="header-menu-right">
              <a href="https:www.google.com">언어</a>
            </li>
            <li class="header-menu-right">숙소호스트되기</li>
            <li class="header-menu-right">체험 호스팅하기</li>
            <li class="header-menu-right">도움말</li>
            <li class="header-menu-right">로그인</li>
            <li class="header-menu-right sign-up-button">
              <a href="">회원가입</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="content-body">
      <div class="top-button-area">
        <div class="top-button"></div>
        <div class="search-bar"></div>
      </div>

    </div>
    <div class="footer"></div>
  </div>


</body>

</html>