.header-menu-right {
  float: right;
  margin-right: 20px;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
li {
  list-style: none;
}
.left-button-list {
  float: right;
}
.logo {
  float: left;
  background-image: url(./../assets/logo.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  resize: both;
}
.sign-up-button {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12)
}