<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>MainPage</title>
</head>

<body>
  <div class="main-main">
    <div class="main-div">
      <img class="main-img" src="/assets/person.jpg" alt="">
      <div class="main-text">
        <h3>image1</h3>
        <p>image1</p>
      </div>
    </div>
    <div class="main-div">
      <img class="main-img" src="/assets/person.jpg" alt="">
      <div class="main-text">
        <h3>image2</h3>
        <p>image2</p>
      </div>
    </div>
    <div class="main-div">
      <img class="main-img" src="/assets/person.jpg" alt="">
      <div class="main-text">
        <h3>image3</h3>
        <p>image3</p>
      </div>
    </div>
  </div>


</body>

</html>